* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Marmelad', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(img/etna.jpg);
}

.header {

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-left: 500px;
    margin-top: 200px; */
    /* border: 2px solid black; */
    height: 400px;
    width:  1000px;
}

.title {
    /* background: linear-gradient(
        45deg,
        rgb(255, 254, 254),
        gray,
        rgb(0, 0, 0)
        ); */
    position: relative;
    top: 100px;
    left: 450px;
    width: 700px;
    font-size: 80px;
    color: rgb(136, 193, 212);
}

.create {
    color: rgb(13, 58, 73) ;
}

.cont-logo {
    position: absolute;
    width: 350px;
    height: 350px;
    /* background: linear-gradient(
        45deg,
        rgb(136, 193, 212)
        rgb(255, 255, 255)
        rgb(52, 102, 119)
    ); */
    border-radius: 50% 0 50% 0;
    background-color: rgb(13, 58, 73) ;
}

.logo {

}

.logo.left {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 100px;
    height: 100px;
    border-left: 20px solid rgb(136, 193, 212);
    border-bottom: 20px solid rgb(136, 193, 212);
}

.logo.right {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 100px;
    height: 100px;
    border-right: 20px solid rgb(136, 193, 212);
    border-top: 20px solid rgb(136, 193, 212);
}

.logo.middle {
    position: absolute;
    top: 165px;
    left: 40px;
    right: 40px;
    width: 270px;
    height: 20px;
    background-color: rgb(136, 193, 212);
}

.logo.ci {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 40px;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 50%;
    border: 10px solid rgb(136, 193, 212);
    border-right:10px solid transparent;
}

.logo.bigleft {
    position: absolute;
    bottom: 185px;
    left: 40px;
    right: 40px;
    width: 125px;
    height: 125px;
    background-color: transparent;
    border-top-left-radius: 100%;
    border-top: 20px solid rgb(136, 193, 212);
    border-left: 20px solid rgb(136, 193, 212);
}

.logo.bigright {
    position: absolute;
    bottom: 40px;
    left: 185px;
    right: 40px;
    width: 125px;
    height: 125px;
    background-color: transparent;
    border-bottom-right-radius: 100%;
    border-bottom: 20px solid rgb(136, 193, 212);
    border-right: 20px solid rgb(136, 193, 212);
}







